/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
  height: 80%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.leaveNow{
  
  float:right;
}
.infotext{
  text-align: center;
}
.header{
  text-align:center;
}
.container{
  align-content: center;
  
    padding: 1em;

}
.usrbtn{
  background-color: rgb(32, 116, 185);
  color: white;
  padding: 1em 2em;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
  display: block;
  margin: 0 auto;
  display: block;
  border-radius:2em
}

.pswbtn{
  background-color: rgb(32, 116, 185);
  color: white;
  padding: 14px 20px;
  margin: 1em 0;
  border: none;
  cursor: pointer;
  width: 33%;
  margin: 10px auto;
  display: block;
  border-radius:2em
}
.parkbtn{
  background-color: rgb(54, 158, 218);
  color: white;
  padding: 2em 2em;
  margin: -5em 0em;
  border: none;
  cursor: pointer;
  width: 49%;
  border-radius:2em;
  
  

}
.leavebtn{
  background-color: rgb(54, 158, 218);
  color: white;
  padding: 2em 2em;
  margin: 1em 0;
  border: none;
  cursor: pointer;
  width: 49%;
  border-radius:2em

}
.infotext{
  font-weight: bold;
  margin: -1em;
}
input[type=text], input[type=password] {
  width: 33%;
  padding: 1em 2em;
  margin: 0 auto;
  display: block;
font-size:20px;
  box-sizing: border-box;
  text-align:center;
  background: transparent;
  font-weight:900;
  border-radius:2em;
  
  
}
input::placeholder{
  color:black;
  
    font-weight: 900;
font-size:2em;
}
.imgcontainer {
  text-align: center;
  margin: 2em 0 1em 0;
}
.bg {
  /* The image used */
  background-image: url("background-blur-clean-531880.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}